body{
 margin: 0 auto;  
 width: 700px;
 background-color: #D4D4D4;
 border: 1px solid black;
 
}
h1{
    text-align: center;
}
h2{
    background-color: #FF8587;
}
p{
    text-indent: 2em;
    line-height: 1.5em;
}
a{
    background-color: #1A1406;
    color: #fff;
    text-decoration: none;
}